header {
	height: 40px;
	@include clearfix;
	font-size: 18px;
	line-height: 18px;

	.inner {
		@include clearfix;

		a {
			text-decoration: none;
			color: $black;
		}

		.logo {
			float: left;
			margin-top: 25px;

			i {
				font-size: 22px;
				margin-right: 15px;
			}
		}

		.navigation {
			float: right;

			ul {
				padding: 0;
				margin: 25px 0 0 0;

				li {
					list-style-type: none;
					display: inline;
					margin: 0 0 0 15px;

					a {
						&.active {
							border-bottom: 5px solid $black;
							padding-bottom: 3px;
						}
					}
				}
			}
		}
	}
}

.index {
	header {
		.inner {
			i {
				color: $white;
			}

			.navigation {
				ul {
					li {
						a {
							color: $white;

							&:hover {
								color: lighten($teal, 20%);

								&.active {
									border-bottom-color: lighten($teal, 20%);
								}
							}

							&.active {
								border-bottom-color: $white;
							}
						}
					}
				}
			}
		}
	}
}