header {
	@include clearfix;
	font-size: 18px;
	line-height: 18px;
	padding: 15px 0;
	background: url("/assets/images/gplaypattern");

	.inner {
		@include clearfix;

		a {
			text-decoration: none;
			color: $white;
		}

		.logo {
			float: left;

			i {
				font-size: 60px;
			}
		}

		.navigation {
			float: right;

			ul {
				padding: 0;
				margin: 20px 0 0;

				li {
					list-style-type: none;
					display: inline;
					margin: 0 0 0 25px;
					text-transform: uppercase;
					font-size: 14px;
					a {
						&.active {
							border-bottom: 1px solid $white;
						}
					}
				}
			}
		}
	}
}