.intro {
	background-color: $gray;
	color: $white;
	height: 350px;
	text-align: center;
	margin-top: -110px;
	padding-top: 145px;
	@include retina-image("/assets/images/gplaypattern", 188px  178px);
	background: fixed;

	h1 {
		font-size: 30px;
		line-height: 40px;
		margin: 0 0 20px 0;
		font-family: 'Fjalla One', sans-serif;

		span {
			color: lighten($teal, 20%);
		}

		@include media {
			font-size: 50px;
			line-height: 45px;
		}
	}

	p {
		font-size: 18px;
		line-height: 25px;
		margin: 0;
	}

	@include media {
		height: 500px;
		padding-top: 220px;
	}
}

.tiles {
	padding-top: 10px;
	@include clearfix;

	.tile {
		float: left;
		width: 100%;
		margin: 0 auto;
		margin: 0 0 10px;
		box-shadow: 0 0 1px $gray;

		a {
			float: left;
			line-height: 0;
			width: 100%;

			img {
				width: 100%;
			}
		}

		@include media {
			width: 26%;
			margin: 0 0 30px 3%;
			padding: 0;
		}
	}

	@include media {
		padding-top: 40px;
		max-width: 1600px;
		margin: 0 auto;
		padding-left: 8%;
	}
}