.intro {
	background-color: $gray;
	color: $white;
	height: 350px;
	margin-top: -80px;
	padding-top: 145px;
	text-align: center;
	@include retina-image("/assets/images/escheresque_ste", 46px  29px);

	h1 {
		font-size: 30px;
		line-height: 40px;
		margin: 0 0 10px 0;
		font-family: 'Fjalla One', sans-serif;

		@include media {
			font-size: 45px;
			line-height: 45px;
		}
	}

	p {
		font-size: 18px;
		line-height: 25px;
		margin: 0;
	}

	@include media {
		height: 420px;
		padding-top: 180px;
	}
}

.tiles {
	padding-top: 10px;
	@include clearfix;

	.tile {
		float: left;
		width: 100%;
		margin: 0 auto;
		padding: 0 0 10px;

		a {
			float: left;
			line-height: 0;
			width: 100%;

			img {
				width: 100%;
			}
		}

		@include media {
			width: 30%;
			margin: 0 0 20px 3%;
			padding: 0;
			box-shadow: 0 0 3px $gray;
		}
	}

	@include media {
		padding-top: 40px;
		max-width: 1600px;
		margin: 0 auto;
		padding-right: 3%;
	}
}