.project-page {
	h1 {
		font-size: 28px;
		line-height: 35px;
		font-weight: normal;
		margin: 0 0 10px;
		float: left;

		span {
			font-size: 15px;
			font-weight: normal;
			margin-left: 10px;
		}
	}

	button {
		float: right;
		background-color: $teal;
		border: 0;
		color: $white;
		padding: 10px 15px;
		font-size: 13px;
		line-height: 13px;
		text-transform: uppercase;
		border-radius: 5px;
		cursor: pointer;
		margin: 0;

		&:hover {
			background-color: lighten( $teal, 10%);
		}
	}

	.browser {
		position: fixed;
		top: 150px;
		left: 5%;
		right: 5%;

		iframe {
			border: 0;
			height: 680px;
			width: 100%;
			background-color: $white;
		}
	}
}