.project-page {
	.details {
		padding-top: 30px;
		padding-bottom: 20px;
		border-bottom: 1px solid $medium-gray;

		h1 {
			font-size: 30px;
			line-height: 40px;
			font-weight: bold;
			margin: 0 0 10px;
			text-align: center;
			color: $black;

			span {
				font-size: 15px;
				font-weight: normal;
				margin-left: 10px;
			}
		}

		p {
			text-align: center;
		}
	}

	.proj-link {
		background: lighten($teal, 5%);
		float: left;
		width: 50%;
		padding: 10px 0;
		margin-bottom: 10px;

		&:hover {
			background: lighten($teal, 10%);
		}

		&.next {
			border-left: 3px solid $light-gray;
		}

		&.prev {
			border-right: 3px solid $light-gray;
		}

		.arrow-right {
			width: 0;
			height: 0;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 10px solid white;
		}

		.arrow-left {
			width: 0;
			height: 0;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-right:10px solid white;
		}

		.arrow-left, .arrow-right {
			margin: 0 auto;
		}

		@include media {
			position: fixed;
			top: 45%;
			height: 50px;
			width: 45px;
			padding: 15px 0 0 0;
			float: none;

			.arrow-right {
				float: right;
			}

			&.next {
				right: 0;
				padding-right: 17px;
				border: 0;
			}

			&.prev {
				left: 0;
				border: 0;
			}
		}
	}

	.screenshots {
		margin-top: 45px;
		text-align: center;

		p {
			margin: 40px 0 30px;
		}

		img {
			max-width: 100%;
			margin-bottom: 40px;
			border: 1px solid $medium-gray;

			@include media {
				max-width: 80%;
			}
		}
	}


	button {
		float: right;
		background-color: $teal;
		border: 0;
		color: $white;
		padding: 10px 15px;
		font-size: 13px;
		line-height: 13px;
		text-transform: uppercase;
		border-radius: 5px;
		cursor: pointer;
		margin: 0 0 10px 10px;
		width: 100%;

		&:hover {
			background-color: lighten( $teal, 10%);
		}

		@include media {
			width: auto;
			margin: 0 0 0 10px;
		}
	}
}