.resume {
	.resume-title {
		list-style-type: none;
		padding: 0;
		margin: 0;
		@include clearfix;
		padding: 15px 0;
		border-top: 1px solid $black;
		border-bottom: 1px solid $black;
		margin-bottom: 40px;
		width: 100%;

		li {
			width: 100%;
			font-family: 'Fjalla One', sans-serif;
			font-size: 25px;
			line-height: 34px;

			&.phone {
				width: 30%;
			}
			&.email {
				width: 40%;
			}
			&.github {
				width: 30%;

				@include media {
					text-align: right;
				}
			}

			@include media {
				width: 33%;
				line-height: 25px;
				float: left;
			}
		}

		@include media {
			float: left;
			line-height: 35px;
			margin-right: 20px;
		}
	}

	h2 {
		font-family: 'Fjalla One', sans-serif;
		margin: 0 0 15px 0;
		font-size: 25px;
		font-weight: normal;
	}

	h3 {
		font-size: 18px;
		margin: 0;
		font-weight: 700;
		span {
			font-weight: normal;
		}
	}

	h4 {
		font-size: 18px;
		margin: 0 0 10px;
		font-style: italic;
		font-weight: 400;
	}

	ul {
		padding: 0 0 30px 28px;
		margin: 0;

		&.skills {
			list-style-type: none;
			padding: 5px 0 0;
			@include clearfix;

			li {
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;
				border-radius: 3px;
				padding: 0 10px 2px;
				font-size: 13px;
				background-color: $medium-gray;
			}
		}
	}
}