.resume-page {
	.resume-title {
		list-style-type: none;
		padding: 0;
		margin: 0;
		@include clearfix;
		border-bottom: 1px solid $medium-gray;
		background-color: $light-gray;
		margin-bottom: 40px;
		width: 100%;
		padding: 15px 5%;

		li {
			width: 100%;
			line-height: 34px;

			&.phone {
				width: 33%;
				@include media {
					text-align: left;
				}
			}
			&.email {
				width: 33%;
			}
			&.github {
				width: 33%;

				@include media {
					text-align: right;
				}
			}

			@include media {
				width: 33%;
				line-height: 25px;
				float: left;
				text-align: center;
			}
		}

		@include media {
			float: left;
			line-height: 35px;
			margin-right: 20px;
		}
	}
	.inner {
		h2 {
			margin: 15px 0 15px 0;
			font-size: 30px;
			line-height: 40px;
			font-weight: bold;
			float: left;
			width: 100%;
	    color: $black;
		}

		h3 {
			font-size: 18px;
			margin: 0;
			font-weight: 700;

			span {
				font-weight: normal;
			}
		}

		h4 {
			font-size: 18px;
			margin: 0 0 10px;
			font-weight: 400;
		}

		ul {
			padding: 0 0 30px 28px;
			margin: 0;

			&.skills {
				list-style-type: none;
				padding: 5px 0 0;
				@include clearfix;

				li {
					float: left;
					margin-right: 10px;
					margin-bottom: 10px;
					border-radius: 3px;
					padding: 0 10px 2px;
					font-size: 13px;
					background-color: $medium-gray;
				}
			}
		}
		@include media {
			width: 60%;
		}
	}
}