//Colors
$white: #fff;
$light-gray: #f2f2f2;
$gray: #bfbfbf;
$medium-gray: #d7d7d7;
$black: #000;
$teal: #028482;

//Breakpoints
$desktop: 1000px;
$mobile: 360px;
$small-tablet: 420px;
$tablet: 768px;
