//Colors
$white: #fff;
$light-gray: #f2f2f2;
$gray: #bfbfbf;
$medium-gray: #e5e5e5;
$dark-gray: #999;
$black: #333;
$teal: #028482;

//Breakpoints
$desktop: 1000px;
$mobile: 360px;
$small-tablet: 420px;
$tablet: 768px;
