<header class='header'>
	<div class="inner">
		<div class="logo">{{#link-to 'index'}}<i class='icon icon-logo'></i>{{/link-to}}</div>
		<div class="navigation">
			<ul>
				<li>{{#link-to 'index'}}Portfolio{{/link-to}}</li>
				<li>{{#link-to 'resume'}}Resume{{/link-to}}</li>
				<li>{{#link-to 'about'}}About{{/link-to}}</li>
			</ul>
		</div>
	</div>
</header>