<div class="content page about-page">
<div class="profile-img"></div>
	<h1>Erick Arias</h1>
	<p>Hello, my name is Erick Arias. I design and build websites and interfaces. I am a fantastic front-end developer and designer. I have created some great work for you to look at. When I am not working, I love to volunteer, meditate, and generally improve my state of being. I am an avid cyclist and ride to work as much as possible. If you think you I would be a good fit for your organization or just want my killer guacamole, hit me up at <a href="mailto:me@erickarias.com">me@erickarias.com</a></p>
</div>