<div class='content'>
	<div class="intro">
		<div class='inner'>
			<h1>Design <span>+</span> Development</h1>
			<p>Digital portfolio of Erick Arias</p>
		</div>
	</div>
	<div class='inner'>
		{{partial 'projects'}}
	</div>
</div>