<div class='project-page content'>
	<div class="inner">
		<h1>{{title}}</h1>
		<button {{action 'openModal' 'modal' model}}>Details</button>
		<div class='browser'>
			<iframe {{bind-attr src='url'}}></iframe>
		</div>
	</div>
</div>