<div class="overlay" {{action "removeModal"}}></div>
<i class="icon icon-cancel-circled-outline" {{action "removeModal"}}></i>
<div class="modal related" {{action "removeModal"}}>
  {{#modal-dialog title='Related' close='removeModal'}}
    <img {{bind-attr src='related'}} />
	{{/modal-dialog}}
</div>