<div class="overlay" {{action "removeModal"}}></div>
<i class="icon icon-cancel-circled-outline" {{action "removeModal"}}></i>
<div class="modal related" {{action "removeModal"}}>
  {{#modal-dialog title='Related' close='removeModal'}}
		{{#each related}}
      <img {{bind-attr src='image'}} />
    {{/each}}
	{{/modal-dialog}}
</div>