<div class="content resume">
	<div class="inner">
		<ul class='resume-title'>
			<li class='phone'>773.606.7911</li>
			<li class='email'>searchlightdesigns@gmail.com</li>
			<li class='github'>github.com/erickarias</li>
		</ul>
		<h2>Work Experience</h2>
		<h3>Wrapports / Sun-Times Media <span>{ July 2012 - Present }</span></h3>
		<h4>Chicago.com - Senior User Interface Engineer</h4>
		<ul>
			<li>Front-end developer working with external development team on several key projects. Main Contributions to front-end; EmberJS, SASS, Handlebars templates; experience with unit tests.</li>
			<li>Group director of visual design, interaction design, and information architecture.</li>
			<li>Lead presenter to CEO and board members for design and development.</li>
			<li>Managed junior staff on project-by-project basis.</li>
		</ul>
		<h4>Aggrego / STM Media - User Interface Engineer</h4>
		<ul>
			<li>Front-end developer on several key projects. Responsibilities included coding rails templates, SCSS stylesheets, JavaScript, and crossbrowser compatibility.  Paired on several Ruby on Rails feature sets and unit tests.</li>
			<li>Directed group effort of interface &amp; visual design and ensured newsroom requirements were met.</li>
			<li>Projects include; Pioneer Press, High School Sports, and the Naperville Sun.</li>
		</ul>
		<h3>Vivid Seats <span>{ 2008 - 2012 }</span></h3>
		<h4>Web Designer</h4>
		<ul>
			<li>Led front-end development efforts using HTML, CSS, and JavaScript, ensuring crossbrowser compatibility.</li>
			<li>Designed sleek webpages consistant with company style guide.</li>
			<li>Designed and coded internet marketing ad campaigns for both SEO and paid search.</li>
		</ul>
		<h3>Chicago Tech <span>{ 2007 - 2008 }</span></h3>
		<h4>Graphic Designer</h4>
		<ul>
			<li>Designed and coded company website using wordpress.</li>
			<li>Implemented online product catalog using third party plugin.</li>
			<li>Created all brand marketing materials for print and web.</li>
		</ul>
		<h3>WGN <span>{ 2005 }</span></h3>
		<h4>Design Intern</h4>
		<ul>
			<li>Designed ads for WGN programming; published in TV Guide.</li>
			<li>Created interactive Chicago Cubs roster application WGN website.</li>
			<li>Made flash banner ads; displayed on website.</li>
		</ul>
		<h2>Education &amp; Training</h2>
		<ul>
			<li>DePaul University, Chicago, IL - B.S. in Computer Graphics &amp; Animation - Graduated 2006</li>
			<li>Ember Training with Erik Bryn and Trek Glowacki, Chicago, IL - May 2014</li>
			<li>CampNg Angular JS Training - Oct. 2013</li>
			<li>Gnomon School of Visual Effects, Los Angeles, CA - Surface modelling, texture mapping, lighting</li>
			<li>Attendee / participant at several industry workshops and seminars and avid learner of online training courses.</li>
		</ul>
		<h2>Software Skills</h2>
		<ul class='skills'>
			<li>HTML</li>
			<li>CSS</li>
			<li>CSS Preprocessors</li>
			<li>JavaScript</li>
			<li>Ember</li>
			<li>Git</li>
			<li>Photoshop</li>
			<li>Illustrator</li>
			<li>InDesign</li>
			<li>Sketch</li>
			<li>Omnigraffle</li>
			<li>Flash</li>
			<li>Basecamp</li>
			<li>Project Management Applications</li>
			<li>Responsive Design</li>
			<li>Rhino 3D</li>
		</ul>
	</div>
</div>
